body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.gallery {
    list-style-type: none;
    max-width: 1128px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px 24px;
    box-sizing: border-box;
}

.gallery-item {
    width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
    display: block;
    max-width: 100%;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    cursor: pointer;
    transform: scale(1.1);
}